<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Insurance Premium Prediction</title>
</head>
<body style="background-image: url('https://images.livemint.com/img/2022/02/03/1600x900/f0d3eda2-84e2-11ec-89d5-0daf63f1ea5b_1643909105500_1643909200577.jpg');">

    <center>
        <div class="login">
            <h1>Health Insurance Premium Prediction</h1>
            <style>
            input {width:20%;}
            input {height:30px;}
            </style>
            <form method="POST", action="{{url_for('predict')}}">
                <style>
                    input {width:27%; height:40px;}
                    /* ::placeholder {background-color: black;} */
                </style>
                <b>1. <input type="text", name="a", placeholder="Enetr Age"><br><br>
                2. <input type="text", name="b", placeholder="Enetr Sex"><br><br>
                3. <input type="text", name="c", placeholder="Enter Body Mass Index of the person"><br><br>
                4. <input type="text", name="d", placeholder="Enter NO.of child"><br><br>
                5. <input type="text", name="e", placeholder="Smoker"><br><br>
                </b>
                <input type="submit" value="Predict!" style="width: 33%; height: 40px; background-color: rgb(95, 190, 228);">
            </form>
            <h1 style="background-color: rgb(100, 100, 100);">{{ prediction_text }} </h1>
        </div>
    </center>
    <hr><h1>Notice</h1>
    <h3>1.Please enter the sex value is 1 or 0.</h3>
      <h3> 2. 1 = Male,0 = Female </h3>
      <h3>3. Please enter the value of body mass index in decimal example 28.34 accourding to your body</h3>
      <h3>4. When you enter the smoker value is 1 or 0 : 1= yes ,0 = no</h3>
      <h3>5. if person is smoker or not </h3>
      <hr>
</body>
</html>